//==
//== View: ViewHome.vue
//== ======================================= ==//

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: $max-container-width;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  background: #313131;

  &_mobile {
    top: $navbar-height + 1px;
    height: calc(100% - #{$navbar-height + 1px});
  }

  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__logo-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: rem(30px);
  }

  &__logo {
    width: 160px;
  }

  &__main {
    @include make-gutters();
    position: relative;
    display: flex;
    margin-top: 40px;
  }

  &__content {
    flex-grow: 1;
  }
}
