//==
//== View: ViewOrder.vue
//== ======================================= ==//

.ViewOrder {
  padding-bottom: 3rem;

  &__closer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
