//==
//== Component: ViewModal.vue
//== ======================================= ==//

.ViewModal {
  position: fixed;
  z-index: $z-ViewModal;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  width: 575px;
  height: 100vh;
  padding: 30px;
  background: #fff;

  &__closer {
    position: fixed;
    right: 23px;
    top: 21px;
  }
}
