//==
//== Component: AppFooter.vue
//== ======================================= ==//

.FooterMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    margin: 3px 0;
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(desktop) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    white-space: nowrap;

    &__item {
      margin-right: rem(25px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.AppFooter {
  position: relative;
  padding-top: rem(50px);
  padding-bottom: rem(30px);
  color: $color-gray;
  background: #fff;

  * {
    //@include outline();
  }

  &__container {
  }

  &__form {
  }

  &__contacts {
    margin-top: rem(35px);
  }

  &__share {
  }

  &__store {
  }

  &__navi {
  }

  &__phone,
  &__worktime {
    text-align: center;
  }

  &__menu {
  }

  &__store,
  &__navi,
  &__menu {
    margin-top: rem(30px);
  }

  @include media-breakpoint-down(xs) {
    &__handler {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 17px;
      transform: translateY(-100%);

      &::before {
        width: rem(70px);
        height: 3px;
        content: '';
        background: #fff;
      }
    }
  }

  @include media-breakpoint-up(desktop) {
    padding: 20px 0 35px;

    &__container {
      display: flex;
      justify-content: space-between;
      padding-right: $grid-right-side-padding;
      padding-left: $grid-left-side-padding;
    }

    &__navi,
    &__menu {
      margin-top: rem(16px);
    }
    &__store {
      margin-top: rem(18px);
    }

    &__form,
    &__contacts,
    &__navi {
    }

    &__contacts {
      margin-top: 0;
    }

    &__navi {
      order: -1;
      margin-top: 0;
    }

    &__phone,
    &__worktime {
      display: inline;
      margin-right: rem(30px);
      text-align: left;
    }
  }
}
