//==
//== Component: AppLogo.vue
//== ======================================= ==//

.logo {
  display: flex;
  max-width: $logo-width;

  &__link {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    text-decoration: none;
    color: inherit;
  }

  svg {
    display: block;
    width: 100%;
  }
}
