//==
//== Component: AppNavber.vue
//== ======================================= ==//

.navbar {
  position: sticky;
  z-index: $z-navbar;
  top: 0;

  &__container {
    position: relative;
    z-index: $z-navbar + 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $navbar-border-color;
    background: #fff;
  }

  &__menu {
    flex-shrink: 0;
  }

  &__menu-button {

  }

  &__logo-box {

  }

  &__logo {
    width: 86px;
  }

  &__actions {
  }

  &__search-button {
  }

  &__search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $navbar-border-color;
    background: #fff;
  }
}
