//==
//== Component: BookmarkButton.vue
//== ======================================= ==//

.BookmarkButton {
  @include size(rem(28px));
  padding: rem(4px);
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
  color: $color-gray;
  border: none;
  background: none;

  svg {
    @include size(100%);
    display: block;
  }

  &_hover {
    opacity: 0.5;
  }

  &_active {
    opacity: 1;
  }
}
