//==
//== Component: CardProduct.vue
//== ======================================= ==//

$thumb-width: 40px;

.CardProduct {
  //@include outline();
  display: flex;
  margin-left: rem(65px);

  @media (min-width: 1600px) {
    margin-left: percentage(1/12);
  }

  &__main {
    position: relative;
    display: flex;
    width: 65%;
  }

  &__side {
    position: relative;
    width: 35%;
  }

  &__media-tape {
    width: 100%;
  }

  &__thumbs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 0;
    background: white;
  }
}

.media-tape {
  width: 100%;

  &__item {
    width: 100%;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__object {
    display: block;
    width: 100%;
    height: auto;
  }
}


.sticky-thumbs {
  position: sticky;
  bottom: rem(40px);
  width: rem($thumb-width);
  margin-left: (rem(40px + 25px) / -1);

  &__item {
    width: 100%;
    cursor: pointer;
    opacity: 0.5;
    border: 1px solid black;

    &:nth-child(n + 2) {
      margin-top: rem(5px);
    }

    &.active {
      cursor: default;
      opacity: 1;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.product-sizes {

}

.product {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: rem(25px);
  padding-left: 8%;
  //background: rgba(yellow, 0.5);
  text-transform: uppercase;
  font-size: rem(12px);
  line-height: 2;

  &__title {
    //overflow: hidden;
    margin-bottom: rem(22px);
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }

  &__price {
    margin-bottom: rem(20px);
    font-size: rem(20px);
    font-weight: bold;
    line-height: (24/20);
  }

  &__article {
    font-weight: bold;
  }

  &__description {
    margin-bottom: rem(24px);
  }

  &__colors {
    margin-bottom: rem(6px);
  }

  &__sizes {
  }

  &__actions {
  }

  &__links {
    margin-top: 1rem;
  }
}

.info-links {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;

  &__col {
    margin: 0;
    padding: 0;
    list-style: none;

    &:last-child {
      text-align: right;

      a {
        &::after {
          content: ' +';
        }
      }
    }
  }
}
