//==
//== Component: CardProduct.vue
//== ======================================= ==//

.CardProduct {
  //@include outline();
  display: flex;
  margin-left: rem(65px);

  @media (min-width: 1600px) {
    margin-left: percentage(1/12);
  }

  &__main {
    position: relative;
    display: flex;
    width: 65%;
  }

  &__side {
    position: relative;
    width: 35%;
    min-width: 320px;
    padding-bottom: 120px;
  }

  &__menu {
    flex-shrink: 0;
    width: 160px;
    padding-top: 25px;
    padding-right: 15px;

    .usermenu {
      position: sticky;
      top: 25px;
    }
  }

  .App.isFullscreen & {
    margin-left: 0;
  }
}

.product-sizes {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
  }

  &__sizes-book {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      @include size(8px, 6px);
      flex-shrink: 0;
      margin-left: 5px;
      transform: rotate(-90deg);
    }
  }
}

.actions {
  display: flex;
  height: 32px;

  &__cart {
    display: flex;
    flex-grow: 1;
  }

  &__fav {
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
  }
}

.product {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: rem(25px);
  padding-left: 8%;
  //background: rgba(yellow, 0.5);
  text-transform: uppercase;
  font-size: rem(12px);
  line-height: 2;

  &__title {
    //overflow: hidden;
    margin-bottom: rem(22px);
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }

  &__price {
    margin-bottom: rem(20px);
    font-size: rem(20px);
    font-weight: bold;
    line-height: (24/20);
  }

  &__article {
    font-weight: bold;
  }

  &__description {
    margin-bottom: rem(24px);
  }

  &__colors {
    margin-bottom: rem(6px);
  }

  &__sizes {
  }

  &__actions {
    margin-top: 18px;
  }

  &__links {
    margin-top: 1rem;
  }
}

.info-links {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;

  &__col {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      cursor: pointer;
    }

    &:last-child {
      text-align: right;

      a {
        &::after {
          content: ' +';
        }
      }
    }
  }
}

//==
//== Mobile layout
//== ======================================= ==//

.MobileCard {
  &__ShareBlock,
  &__SizeSelector {
    position: absolute;
    z-index: 1;
    right: $mobile-card-padding-side;
    bottom: $mobile-card-padding-bottom;
    left: $mobile-card-padding-side;
  }

  &__sizeInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $color-gray;
    border-top: none;
    background: #fff;
    font-weight: bold;
  }

  //==
  //== Details view
  //== ======================================= ==//

  &.isDetails {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.isDetails &__photo {
    height: 0;
  }

  &.isDetails &__ShareBlock {
    position: fixed;
  }
}

.MobileCardDetails {

  &__header {
  }

  &__button {
  }




  &__footer {
    margin-top: 2rem;
  }
}

.MobileCardTitle {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding-right: rem($float-button-size - 14px);
  text-transform: uppercase;
  font-weight: bold;

  > span {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.MobileCardPrice {
  margin-top: rem($mobile-card-price-margin);
  text-transform: uppercase;
}

.MobileCardButtons {
  display: flex;
  justify-content: space-between;
  margin-top: rem($mobile-card-buttons-margin);

  &__button {
    width: calc(50% - 3px);
  }
}

.MobileProduct {
  &__description {
  }

  &__article {
    font-weight: bold;
  }

  &__infoLinks {
    margin: 32px 0;
    padding: 0;
    list-style: none;

    > li {
      margin: 9px 0;

      &::after {
        content: ' +';
      }

      a {
        cursor: pointer;
      }
    }
  }
}

.cart-success {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  background: $color-gray;

  &__title {
  }

  &__link {
    font-weight: bold;
  }
}
