//==
//== component: CardLookItem.vue
//== ======================================= ==//

.CardLookItem {
  $this: &;
  display: flex;

  &__preview {
    position: relative;
    //width: percentage(220/450);
    flex-shrink: 0;
    width: percentage(180/450);
  }

  &__main {
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    &.isHover {
      opacity: 0.5;
    }
  }

  &__name {
  }

  &__price {
  }

  &__ColorSelector {
  }

  &__SizeSelector {
    margin-top: 10px;
  }

  &__cartButton {
    margin-top: 10px;
  }

  &__hoverMe {
    margin-top: 15px;
    transition: 0.3s ease opacity;
    opacity: 0;
  }

  &:hover &__hoverMe {
    opacity: 1;
  }

  //==
  //== Mobile view
  //== ======================================= ==//

  &.isMobile {
    display: block;

    #{$this} {
      &__preview {
        position: relative;
        overflow: hidden;
        width: 100%;

        &::before {
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: percentage(250/185);
          content: '';
        }
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
      }

      &__favorite {
        opacity: 0.5;
      }

      &__main {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
