//==
//== Component: CatalogRow.vue
//== ======================================= ==//

.CatalogRow {
  $this: &;
  position: relative;
  display: flex;

  &__cell {
    flex-shrink: 0;
    width: calc(25% - 6px);
    margin: 0 3px 3px;
  }

  //==
  //== Типы строк
  //== ======================================= ==//

  //== 4 product в ряд
  &_type_1 {
    // nop, by default
  }

  //== 3 product с отступом между 2 и 3 ячейками
  &_type_2 {
    #{$this}__cell {
      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  //== 1 banner, 1 product
  &_type_3 {
    justify-content: space-between;

    .CatalogBanner {
      width: calc(50% - 6px);
    }
  }

  //== 3 product с отступами
  &_type_4 {
    #{$this}__cell {
      &:nth-child(2) {
        margin-left: (25% / 3);
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  //== 3 product - 1 большой и 2 поменьше
  &_type_5 {
    #{$this}__cell {
      &:nth-child(1) {
        width: calc(43% - 6px);
        margin-right: auto;
      }
    }
  }

  //== 3 product + 1 banner в ряд
  &_type_6 {
    #{$this}__cell {
      // nop, by default
    }
  }

  //== 6 product - 1 большой и другие поменьше
  &_type_7 {
    #{$this}__cell {
      width: calc(14% - 6px);
      max-width: calc(23.5% - 6px);
      flex-grow: 1;


      &:first-child {
        width: calc(30% - 6px);
        max-width: none;
        flex-grow: 0;
      }
    }
  }
}
