//==
//== Component: CatalogCard.vue
//== ======================================= ==//

.catalog-card {
  position: relative;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 160%;

  &__footer {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: -5px;
    display: none;
    width: 100%;
    margin-top: -15px;
    background: #fff;
    border: 5px solid #fff;
    box-sizing: content-box;
  }

  &:hover &__footer {
    display: block;
  }

  &__image-box {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__bookmark {
    @include size(rem(20px));
    position: absolute;
    top: rem(14px);
    right: rem(14px);
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0;
    color: $color-gray;

    svg {
      @include size(100%);
      display: block;
    }
  }

  &__bookmark_on,
  &:hover &__bookmark {
    opacity: 1;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__colors {
    margin-bottom: 15px;
  }

  &__sizes {
    //margin-top: 20px;
  }

  &__cart-button {
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 8px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #5a5a5a;
    font-size: 10px;
  }
}
