//==
//== Component: Catalog.vue
//== ======================================= ==//

.catalog {
}

.CatalogFlat {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-shrink: 0;
    width: 50%;
    padding: 0 3px 3px;
  }

  @include media-breakpoint-up(desktop) {
    &__item {
      width: 25%;
    }
  }
}
