//==
//== Component: CloseButton.vue
//== ======================================= ==//

.CloseButton {
  @include size(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  color: #000;
  border: none;
  background: #fff;
  font-size: 24px;
  line-height: 0;

  svg {
    @include size(16px);
    flex-shrink: 0;
  }

  &.right {

  }
}
