//==
//== Component: ColorSelector.vue
//== ======================================= ==//

.color-indicator {
  @include size(rem(16px));
  border: 1px solid transparent;
  background: none;
  background-clip: padding-box;

  &:focus {
    outline: none;
  }

  &_selected {
    border-width: 2px;
    border-color: #c4c4c4;
  }
}

.color-selector {
  &__title {
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 6px;
    cursor: pointer;
  }
}
