//==
//== Component: ColorSelector.vue
//== ======================================= ==//

.color-selector {
  &__title {
  }

  &__items {
    display: flex;
  }

  &__item {
    @include size(rem(16px));
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    background: none;
    background-clip: padding-box;

    &:focus {
      outline: none;
    }

    &_selected {
      border-width: 2px;
      border-color: #c4c4c4;
    }
  }
}
