//==
//== Component: ColorSelector.vue
//== ======================================= ==//

.ColorIndicator {
  @include size(rem(16px));
  border: 1px solid transparent;
  background: none;
  background-clip: padding-box;

  &:focus {
    outline: none;
  }

  &.isSelected {
    border-width: 2px;
    border-color: #c4c4c4;
  }
}

.ColorSelector {
  &__title {
    //white-space: nowrap;
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 6px;
    cursor: pointer;
  }

  &__thumb {
    //width: 110px;
    height: 130px;
    margin-right: 6px;
    cursor: pointer;
    background: #ececec;
    object-position: 50% 0;
    object-fit: contain;
  }
}
