//==
//== Component: FloatPanel.vue
//== ======================================= ==//

.float-panel {
  position: fixed;
  z-index: $z-float-panel;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 575px;
  height: 100vh;
  padding: 15px 20px;
  background: #fff;

  &__closer {
  }
}
