//==
//== Component: FormGroup.vue
//== ======================================= ==//

.FormGroup {
  margin-bottom: rem(10px);

  &__header {
    display: flex;
    font-weight: bold;

    &.labelOnRight {
      justify-content: flex-end;
      font-weight: normal;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: rem(12px);
    line-height: 1.6;
  }
}

.FormGroupSubmit {
  margin-top: 20px;
}
