//==
//== Component: MainMenu.vue
//== ======================================= ==//

.mainmenu {
  text-transform: uppercase;
  color: currentColor;

  &__list {
    @include responsive-font-size(18px, 24px, map_get($grid-breakpoints, desktop), 1600px);
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    line-height: 85%;

    @include media-breakpoint-down(xs) {
      font-size: rem(24px);
    }
  }

  &__item {
    margin: 4px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      margin: 14px 0;
    }
  }

  &__link {
    &.highlight {
      color: $color-highlight;
    }

    .router-link-active {
    }
  }

  &__children {
    display: none;
  }

  &__lookbook {
    margin-top: rem(22px);
  }

  //==
  //== Inverse theme
  //== ======================================= ==//

  &_theme_inverse {
    color: white;
  }
}

.lookbook {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: rem(14px);

  &::before {
    width: rem(9px);
    height: rem(11px);
    margin-right: 0.5em;
    content: '';
    background: currentColor;
  }

  &__link {
  }
}

