//==
//== Component: MobileCartButton.vue
//== ======================================= ==//

.MobileCartButton {
  @include size($navbar-height);
  position: relative;
  display: flex;
  flex-shrink: 0;
  padding: 0;
  cursor: pointer;
  color: currentColor;
  border: none;
  background: none;

  &__iconBox {
    @include size(percentage(18 / 50));
    flex-shrink: 0;
    margin: auto;
  }

  &__icon {
    display: block;
  }
}
