//==
//== Component: PageContent.vue
//== ======================================= ==//

.PageContent {
  &__content {
    text-transform: uppercase;
  }

  &__loadingBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .LoadingIndicator {
      width: auto;
      background: none;
    }
  }
}
