//==
//== Component: SizeSelector.vue
//== ======================================= ==//

$SizeSelector-height: 32px;

.SizeSelector {
  position: relative;
  z-index: $z-dropdown;
  width: 100%;
  height: rem($SizeSelector-height);
  user-select: none;
  border: 1px solid #5a5a5a;
  background: #fff;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: -1px;

    &:focus {
      outline-color: -webkit-focus-ring-color;
    }
  }

  &__selected {
    padding-left: 15px;
    font-size: 10px;
  }

  &__arrow {
    @include size(8px, 6px);
    position: absolute;
    right: 10px;

    svg {
      @include size(100%);
      display: block;
    }
  }

  &__pane {
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    //display: none;
    border: 1px solid #5a5a5a;
    background: #fff;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem($SizeSelector-height);
    padding: 0 15px;
    cursor: pointer;
    font-size: rem(12px);

    &.selected,
    &:hover {
      background: #eee;
    }

    &.disabled {
      cursor: default;
      color: #9d9d9d;
      background: #fff;
    }
  }

  &__title {
  }

  &__info {
    a {
      &:hover {
        text-decoration: underline;
        color: $color-text;
      }
    }
  }

  //==
  //== Mobile
  //== ======================================= ==//

  &__optionTitle {
    display: flex;
    align-items: center;
    height: rem(40px);
    padding: 5px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: bold;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.isMobile {
    border: none;
  }

  &.isMobile &__pane {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
