//==
//== Global app layout
//== ======================================= ==//

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &.locked {
    overflow: hidden;
  }

  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height + 1px;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    padding-top: ($navbar-height + 1px);
    transition: 0.35s ease padding-top;

    @include media-breakpoint-down(xs) {
      .isOpenSearch & {
        padding-top: ($navbar-height + 1px + $navbar-height);
      }
    }

    @include media-breakpoint-up(desktop) {
      padding-top: 0;

      &::before {
        content: '';
        @include make-column-side-left();
      }

      &::after {
        content: '';
        @include make-column-side-right();
      }
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;

    &._home {
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      transition: transform 0.3s ease;

      &._active {
        transform: translateY(-100%);
      }

      &._mobile {
        height: calc(100vh - #{$navbar-height});
      }
    }
  }

  &__cart-notify {
    position: fixed;
    //top: 12px;
    top: 205px;
    right: 12px;
  }
}
