//==
//== Global app layout
//== ======================================= ==//

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__navbar {
    width: 100%;
    height: $navbar-height + 1px;
    background: yellow;
  }

  &__container {
    display: flex;
    flex-grow: 1;
  }

  &__sideLeft {
    @include make-column-side-left();
    position: relative;
    z-index: $z-sidebars;
    pointer-events: none;

  }

  &__sideRight {
    @include make-column-side-right();
    position: relative;
    z-index: $z-sidebars;
    pointer-events: none;
  }

  &__sideContent {
    position: sticky;
    top: 0;
    pointer-events: all;
  }

  &__main {
    flex-grow: 1;
    min-width: 0;
  }

  &__footer {
    flex-shrink: 0;

    &.onHome {
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      transition: transform 0.3s ease;

      &.isActive {
        transform: translateY(-100%);
      }

      &.isMobile {
        height: calc(100vh - #{$navbar-height});
      }
    }
  }

  &__cartNotify {
    position: fixed;
    z-index: $z-cart-notify;
    //top: 12px;
    top: 205px;
    right: 12px;
  }

  &.isFullscreen {
    .App {
      &__sideLeft,
      &__sideRight {
        overflow: hidden;
        width: 0;
        min-width: 0;
        padding: 0;
      }

      &__footer {
        display: none;
      }
    }
  }
}

.AppSide {
  padding-top: rem(25px);

  &__top {
    display: flex;
    align-items: center;
    height: rem($logo-height);
    margin-bottom: rem(30px);

    > * {
      width: 100%;
    }
  }

  .isHomepage & {
    padding-top: 110px;
  }
}
