//==
//== Global sass configuration
//== ======================================= ==//

$font-stack-main: Helvetica, Arial, sans-serif;

$root-font-size: 16px; // browser default
$base-font-size: 12px;
$base-line-height: 1.6; // 19.2

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,
  md: 992px,
  xl: 1850px,
);

//==
//== Mixins & functions
//== ======================================= ==//

@import "mixins/type";
@import "mixins/use-webfont";
@import "mixins/breakpoints";
@import "mixins/grid";
@import "mixins/outline";
