%button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: rem($button-height);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #5a5a5a;
  font-size: 12px;
}

.btn {
  @extend %button-base;
  color: #fff;
  background: #5a5a5a;
}

.btn-outline {
  @extend %button-base;
  background: #fff;
}

.btn-icon {
  @include size(15px);
  flex-shrink: 0;
  margin-right: 5px;

  &.SvgIcon-share {
    position: relative;
    top: -2px;
  }
}

.btn-no-border {
  border-color: transparent;
}

.btn-block {
  display: flex;
  width: 100%;
}
