//==
//== Init styles
//== ======================================= ==//

* {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: $font-stack-main;
  font-size: percentage($root-font-size / 16px);
  line-height: $base-line-height;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $color-text;
  background: #fff;
  font-size: rem($base-font-size);
  line-height: $base-line-height;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    text-decoration: underline;
  }
}
