//==
//== Pages
//== ======================================= ==//

.page-text {
  padding-top: rem(20px);
  padding-right: rem(20px);
  padding-left: rem(20px);

  @include media-breakpoint-up(desktop) {
    padding-top: rem(105px);
    padding-right: 0;
  }

  @media (min-width: 1600px) {
    padding-left: percentage(1/9);
  }

  dl {
    overflow: hidden;

    > dt {
      float: left;
      clear: left;
      padding-right: 0.5em;
    }

    > dd {
      margin: 0;
      font-weight: bold;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    > li {
      margin: 8px 0;

      &::before {
        display: inline-block;
        width: 15px;
        height: 1px;
        margin-right: 0.5em;
        margin-left: calc(-15px - 0.5em);
        content: '';
        vertical-align: middle;
        background: currentColor;
      }
    }

    @include media-breakpoint-down(xs) {
      padding-left: calc(15px + 0.5em);
    }
  }
}
