//==
//== Transitions
//== ======================================= ==//

.menu-enter-active {
  transition: all .3s ease;
}

.menu-leave-active {
}

.menu-enter {
  transform: translateX(-24px);
  opacity: 0;
}

.menu-leave-to {
}

.fade-slide-right {
  &-enter-active {
    transition: all .3s ease;
  }

  &-enter {
    transform: translateX(25%);
    opacity: 0;
  }

  &-leave-active {
    transition: all .3s ease;
  }

  &-leave-to {
    transform: translateX(25%);
    opacity: 0;
  }
}

.fade-slide-bottom {
  &-enter-active {
    transition: opacity .15s ease, transform .3s ease;
  }

  &-enter {
    transform: translateY(25%);
    opacity: 0;
  }

  &-leave-active {
    transition: opacity .3s ease, transform .15s ease;
  }

  &-leave-to {
    transform: translateY(50%);
    opacity: 0;
  }
}

.fade-in-out {
  &-enter-active {
    transition: all .3s ease;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-active {
    transition: all .3s ease;
  }

  &-leave-to {
    opacity: 0;
  }
}
