//==
//== Transitions
//== ======================================= ==//

.menu-enter-active {
  transition: all .3s ease;
}

.menu-leave-active {
}

.menu-enter {
  transform: translateX(-24px);
  opacity: 0;
}

.menu-leave-to {
}

.fade-in-out {
  &-enter-active {
    transition: all .3s ease;
  }

  &-enter {
    transform: translateX(25%);
    opacity: 0;
  }

  &-leave-active {
    transition: all .3s ease;
  }

  &-leave-to {
    transform: translateX(25%);
    opacity: 0;
  }
}
